<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>FeedLive Website Template | Home :: W3layouts</title>
<link href="{{ asset('front/css/style.css') }}" rel="stylesheet" type="text/css"  media="all" />
<meta name="keywords" content="FeedLive iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<!---start-wrap---->
<div class="wrap">

{# include 'BlogAppBundle::nav.html.twig' #}
{{ render(controller('BlogAppBundle:Default:nav')) }}

{% block body %}{% endblock %}


{% include 'BlogAppBundle::sidebar.html.twig' %}

</div>
        <!---end-wrap -->
    </body>
</html>

